<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>

    <title>Список всех книг</title>

    <style type="text/css">
        body {
            padding: 50px;
        }

        label {
            display: inline-block;
            width: 100px;
        }

        input:read-only {
            background: lightgray;
        }

        .row {
            margin-top: 10px;
        }

        .books {
            border: 1px solid steelblue;
            width: 300px;
            border-collapse: collapse;
        }

        .books tr td, th {
            padding: 5px;
            border: 1px solid steelblue;
        }

        .books td:last-child, td:first-child {
            width: 50px;
        }


    </style>

    <script src="/webjars/jquery/3.7.1/jquery.min.js"></script>

    <script>
        $(function () {
            $.get('/api/books').done(function (books) {
                books.forEach(function (book) {
                    $('tbody').append(`
                    <tr>
                        <td>${book.id}</td>
                        <td>${book.title}</td>
                        <td>${book.author}</td>
                        <td>${book.genre}</td>
                        <td>
                        	<button onclick="update(${book.id})">Изменить</button>
						</td>
                        <td>
                        	<button onclick = "deleteById(${book.id})">Удалить</button>
						</td>
                    </tr>
                `)
                });
            })
        });

        $(function getAllAuthors() {
            $.get('/api/authors').done(function (authors) {
                authors.forEach(function (author) {
                    $('#input-author').append(`
                        <option value="${author.id}">${author.name}</option>
                    `);
                });
            })
        });

        $(function getAllGenres() {
            $.get('/api/genres').done(function (genres) {
                genres.forEach(function (genre) {
                    $('#input-genre').append(`
                        <option value="${genre.id}">${genre.name}</option>
                    `);
                });
            })
        });

        function deleteAll() {
            fetch("/api/books", {
                method: 'DELETE'
            })
                .then(() => location.reload())
                .catch(error => console.error('Error:', error));
        }

        function deleteById(id) {
            fetch("/api/books/" + id, {
                method: 'DELETE'
            })
                .then(() => location.reload())
                .catch(error => console.error('Error:', error));
        }

        function create() {
            const titleInput = document.getElementById("input-title");
            const authorInput = document.getElementById("input-author");
            const genreInput = document.getElementById("input-genre");

            const book = {
                title: titleInput.value,
                authorId: authorInput.value,
                genreId: genreInput.value
            };

            fetch("/api/books", {
                method: 'POST',
                headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(book)
            })
                .then(() => location.reload())
                .catch(error => console.error('Error:', error));
        }

        function update(bookId) {
            window.location.href = '/edit?bookId=' + bookId;
        }

    </script>
</head>

<body>

<div class="row">
    <a href="genres.html" th:href="@{/genres}">
        <button type="button">Все жанры</button>
    </a>
</div>

<div class="row">
    <a href="authors.html" th:href="@{/authors}">
        <button type="button">Все авторы</button>
    </a>
</div>

<h3> Добавить новую книгу:</h3>

<div class="row">
    <label for="input-title">Введите название:</label>
    <input id="input-title" name="title" type="text"/>
</div>

<div class="row">
    <label for="input-author">Выберите автора:</label>
    <select id="input-author" name="author">
    </select>
</div>

<div class="row">
    <label for="input-genre">Выберите жанр:</label>
    <select id="input-genre" name="genre">
    </select>
</div>

<br/>

<div class="row">
    <button type="button" onclick="create()">Добавить</button>
</div>

<h3>Книги в БД:</h3>

<table class="books">
    <thead>
    <tr>
        <th>ID</th>
        <th>Название</th>
        <th>Автор</th>
        <th>Жанр</th>
        <th>Изменить</th>
        <th>Удалить</th>
    </tr>
    </thead>
    <tbody>
    </tbody>
</table>

<br/>

<button onclick="deleteAll()">Удалить все книги</button>

</body>
</html>
