<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Список всех книг одного жанра</title>
    <style type="text/css">
        body {
            padding: 50px;
        }

        .books {
            border: 1px solid steelblue;
            width: 300px;
            border-collapse: collapse;
        }

        .books tr td, th {
            padding: 5px;
            border: 1px solid steelblue;
        }

        .books td:last-child, td:first-child {
            width: 50px;
        }
    </style>
</head>
<body>

<div class="row">
    <a href="genres.html" th:href="@{/genres}">
        <button type="button">Назад</button>
    </a>
</div>

<br/>

<h3>Книги в БД:</h3>

<table class="books">
    <thead>
    <tr>
        <th>ID</th>
        <th>Название</th>
        <th>Автор</th>
        <th>Жанр</th>
        <th>Изменить</th>
        <th>Удалить</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="book : ${books}" th:object="${book}">
        <td th:text="*{id}">id</td>
        <td th:text="*{title}">Название</td>
        <td th:text="*{author.name}">Автор</td>
        <td th:text="*{genre.name}">Жанр</td>
        <td>
            <a href="edit.html" th:href="@{/edit(id=*{id})}">Изменить</a>
        </td>
        <td>
            <a href="books.html" th:href="@{/delete(id=*{id})}">Удалить</a>
        </td>
    </tr>
    </tbody>
</table>

</body>
</html>
