<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Список всех жанров</title>
    <style type="text/css">
        body {
            padding: 50px;
        }

        .genres {
            border: 1px solid steelblue;
            width: 300px;
            border-collapse: collapse;
        }

        .genres tr td, th {
            padding: 5px;
            border: 1px solid steelblue;
        }

        .genres td:last-child, td:first-child {
            width: 50px;
        }
    </style>
</head>
<body>

<div class="row">
    <a href="books.html" th:href="@{/books}">
        <button type="button">На главную</button>
    </a>
</div>

<h3>Жанры в БД:</h3>

<table class="genres">
    <thead>
    <tr>
        <th>ID</th>
        <th>Название жанра</th>
        <th>Действие</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="genre : ${genres}" th:object="${genre}">
        <td th:text="*{id}">id</td>
        <td th:text="*{name}">Название жанра</td>
        <td>
            <a href="booksByGenre.html" th:href="@{/booksByGenre(id=${genre.id})}">Все книги жанра</a>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>
